* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #040c18;
}
a {
  text-decoration: none;
}
li {
  color: aliceblue;
  list-style: none;
  font-family: "Manrope", sans-serif;
  padding: 20px;
  font-size: larger;
}
p {
  line-height: 20px;
  color: #81afdd;
}
h2 {
  color: aliceblue;
  line-height: 40px;
}
.btn1 {
  display: none;
}
.line1 {
  margin-top: 6px;
  background: aliceblue;
  height: 2px;
  width: 30px;
}
.line {
  margin: 10px 0;
  background: #ff8a71;
  height: 2px;
  width: 50px;
}
.header_container {
  background: linear-gradient(103.22deg, #042c54 -13.86%, #040c18);
  padding: 0px 70px;
}
.navbar_container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 40px 0;
}
.container {
  margin: 0px 70px;
}
.lists {
  display: flex;
  justify-content: space-between;
}
.links {
  list-style: none;
  display: flex;
}
.lists h1 {
  font-size: xx-large;
  color: aliceblue;
  margin-top: 10px;
  align-self: center;
}
.font_container {
  display: flex;
  margin-top: 50px;
  padding-bottom: 40px;
}

.buttons {
  /* margin: 10px; */
  display: flex;
}
.buttons button {
  background: #f94a23;
  height: 40px;
  color: aliceblue;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  width: 100px;
}
.text h1 {
  font-size: 450%;
  color: #ff8a71;
  line-height: 80px;
  margin-bottom: 30px;
}
.text p {
  line-height: 25px;
  font-size: large;
  color: #81afdd;
}
.inpt {
  display: flex;
  align-content: center;
}
.inpt input {
  height: 40px;
  background: #042c54;
  margin: 30px 0;
  width: 400px;
  padding: 7px;
  font-size: large;
  border: black;
  border-radius: 4px 0 0 4px;
  border: solid rgb(59, 58, 58);
}
.inpt button {
  color: aliceblue;
  border: solid rgb(59, 58, 58);
  background: #f94a23;
  height: 57px;
  margin-top: 30px;
  border-radius: 0 4px 4px 0;
}
.image img {
  width: 100%;
  height: auto;
}
.people {
  display: flex;
}
.people p {
  color: aliceblue;
  margin-left: 10px;
  font-size: x-small;
  align-self: flex-end;
}
.partners {
  display: flex;
  justify-content: space-around;
  margin: 70px 0;
  flex-wrap: wrap;
}
.what_container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background: linear-gradient(103.22deg, #042c54 -13.86%, #174180);

  padding: 20px;
  padding-top: 20px;
}
.part {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 60px;
}
.part p {
  /* padding-left: 40px; */
  justify-self: flex-end;
}
.what {
  align-self: flex-start;
  margin-right: 30px;
  width: 40%;
}
.what_container h2 {
  color: aliceblue;
  margin-bottom: 30px;
}

.part .heading {
  width: 50%;
}
.heading {
  color: #ff8a71;

  line-height: 50px;
  font-size: 200%;
}
.par {
  padding: 20px 0;
  color: #f94a23;
}
.part div {
  margin-right: 30px;
}
.case_studies_container {
  display: flex;
  margin: 100px 0px;
}
.case_studies {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-self: flex-start;
  padding-left: 50px;
}
.main_heading .heading {
  width: 100%;
}
.studies {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 20px;
}
.studies h2 {
  font-size: larger;
}
.studies p {
  width: 100%;
  align-self: flex-start;
  justify-self: flex-start;
}
.studies div {
  width: 60%;
}
.possibilities {
  margin: 100px 0px;
  display: flex;
}
.poss_img img {
  width: 600px;
}
.txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.txt h1 {
  width: 100%;
}
.center {
  display: flex;
  justify-content: space-between;
  border-radius: 17px;
  padding: 30px;
  margin: 100px 0px;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
}
.center h2 {
  color: #040c18;
}
.center p {
  color: #040c18;
  font-family: "Courier New", Courier, monospace;
}
.center button {
  background: #040c18;
  color: aliceblue;
  border-radius: 26px;
  width: 150px;
  height: 50px;
  font-weight: bold;
  font-size: large;
}
.parag {
  display: flex;

  align-content: center;
  margin-bottom: 60px;
}
.parag h1 {
  color: aliceblue;
  font-size: 350%;
  width: 90%;
  color: #ff8a71;
}
.gpt3__blog {
  display: flex;
  flex-direction: column;
}

.gpt3__blog-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gpt3__blog-container_groupA {
  flex: 0.75;
  margin-right: 2rem;
}
.gpt3__blog-container_groupB {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.gpt3__blog-container_article {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  background: #042c54;
}
.gpt3__blog-container_article-image {
  width: 100%;
  height: 100%;
  background: #042c54;
}
.gpt3__blog-container_article-image img {
  width: 100%;
  height: 100%;
}
.gpt3__blog-container_atricle-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 100%;
}
.gpt3__blog-container_atricle-container p {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 11;
  line-height: 35px;
  color: #ffffff;
}
.gpt3__blog-container_atricle-container h3 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 5rem;
  cursor: pointer;
}
.gpt3__blog-container_atricle-container p:last-child {
  cursor: pointer;
}

.gpt3 {
  margin-top: 100px;
  background: #042c54;
  color: #ffffff;
}
.gpt3__container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.gpt3__container-heading {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gpt3__container-heading h3 {
  color: #f49867;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: -0.1rem;
}
.gpt3__container-heading p {
  padding: 15px;
  font-size: 10px;
  margin-top: 25px;
  border: 1px solid #f3eeeb;
}
.gpt3__container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gpt3__container-footer-gpt3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.gpt3__container-footer h3 {
  font-size: 28px;
  margin-bottom: 5px;
}
.gpt3__container-footer p {
  font-size: 12px;
  margin-bottom: 5px;

  width: 60%;
}
.gpt3__container-footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  list-style: none;
}

.gpt3__container-footer-content .lis li ol {
  font-size: 12px;
  list-style: none;
  margin-top: 5px;
}
.gpt3__container-footer-content .lis li ol:first-child {
  margin-top: 10px;
}
.gpt3__container-content-footer {
  margin-top: 50px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 568px) {
  .gpt3__container-heading h3 {
    font-size: 30px;
  }
  .gpt3__container-footer {
    flex-direction: column-reverse;
    padding: 10px;
  }
  .gpt3__container-footer-gpt3 {
    margin-top: 20px;
    align-items: center;
  }
}

@media screen and (max-width: 1100px) {
  .image img {
    width: 400px;
    height: auto;
    padding-left: 20px;
  }
}
@media screen and (max-width: 920px) {
  .text h1 {
    font-size: 350%;
  }
  .font_container {
    flex-direction: column;
    align-content: center;
  }
  .image {
    display: flex;
    justify-content: center;
  }
  .image img {
    width: 100%;
    height: auto;
  }
  .lists a {
    display: none;
  }
  .people img {
    width: 50%;
    align-self: center;
  }
  .part {
    flex-wrap: wrap;
  }
  .possibilities {
    flex-wrap: wrap;
  }
  .case_studies_container {
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .studies {
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }
  .case_studies {
    padding-left: 0px;
  }
  .poss_img img {
    width: 100%;
  }
  .center {
    flex-direction: column;
    margin-top: 50px;
  }
}
@media screen and (max-width: 550px) {
  .gpt3__blog-container_atricle-container {
    font-size: 18px;
    line-height: 25px;
  }
}
@media screen and (max-width: 630px) {
  .container {
    margin: 0px 40px;
  }
  .header_container {
    padding: 0 30px;
  }
  .navbar_container {
    padding: 10px 0;
  }
  .text h1 {
    font-size: 200%;
    line-height: 35px;
  }
  .lists h1 {
    font-size: x-large;
  }
  .inpt input {
    width: 100%;
    padding: 7px;
  }
  .people {
    flex-direction: column;
    align-content: center;
  }
  .heading {
    line-height: 35px;
    font-size: 150%;
  }
  .case_studies .heading {
    line-height: 35px;
    font-size: 100%;
  }

  .parag h1 {
    font-size: 250%;
    align-self: center;
  }
  .gpt3__container-heading h3 {
    color: #f49867;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: -0.1rem;
  }
}
@media screen and (max-width: 990px) {
  .gpt3__blog-container {
    flex-direction: column-reverse;
  }
  .gpt3__blog-container_groupA {
    margin: 2rem 0;
  }
  .gpt3__blog-container_groupA .gpt3__blog-container_article {
    width: 48%;
  }
  .gpt3__blog-container_groupA .gpt3__blog-container_article-image {
    height: 250px;
  }
}
@media screen and (max-width: 700px) {
  .gpt3__blog-container_groupB {
    grid-template-columns: repeat(1, 1fr);
  }
  .gpt3__blog-container_groupA .gpt3__blog-container_article {
    width: 100%;
  }
  .gpt3__blog-heading h1 {
    font-size: 46px;
    line-height: 52px;
  }
}
@media screen and (max-width: 550px) {
  .gpt3__blog-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
}
@media screen and (max-width: 568px) {
  .gpt3__container-heading h3 {
    font-size: 30px;
  }
  .gpt3__container-footer {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding: 10px;
  }
  .gpt3__container-footer-gpt3 {
    margin-top: 20px;
    align-items: center;
  }
  .gpt3__container-footer-content {
    display: flex;
    flex-wrap: wrap;
  }
  .lis {
    margin-top: 0px;
  }
}
@media screen and (max-width: 608px) {
  .navbar_container {
    flex-direction: column;
  }
  .btn {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }
  .links {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .link-show {
    height: 0;
  }
}
